[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
social-auth-app-django = "*"
social-auth-core = {path = "./../social-core"}

[requires]
python_version = "3.7"

[dev-packages]
black = "==19.3b0"
